<%= form_for @contact, :url => home_index_path, :method => :post, :remote => true do |f| %>
    <div class="col-md-8 mx-auto">
        <%= f.label :name %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area form-control" %></br>

        <%= f.label :email %></br>
        <%= f.email_field :email, required: true, class: "contact-form-text-area form-control" %></br>

        <%= f.label :message %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area form-control", placeholder: "Send me a message."%></br>

        <div class="hidden">
            <%= f.label :nickname %></br>
            <%= f.text_field :nickname, hint: 'leave this field blank.' %>
        </div>

        <%= f.submit 'Send Message', class: 'btn form-control contact-submit' %>
    </div>
<% end %>

<div class="col-md-6 mx-auto pt-4 mb-4" id="flash-message">
    <div class="hidden">Thanks for Visiting!</div>
    <%= render 'flash' %>
</div>