<div class="jumbotron jumbotron-fluid paral jumbotron1 d-flex align-items-center">
    <div class="container jumbo-content">
        <h1 class="display-1 text-white text-center hideme" id="jumbo-name">Michael Lindstrom</h1>
        <hr class="mx-auto hideme" id="jumbo-horizontal">
        <h3 class="text-white text-center jumbo-phrase" id="jumbo-phrase"><span class="jumbophrase1 jumbo-phrase hideme">Front-end</span> <span class="jumbophrase2 jumbo-phrase hideme">|</span> <span class="jumbophrase3 jumbo-phrase hideme">Back-end</span> <span class="jumbophrase4 jumbo-phrase hideme">|</span> <span class="jumbophrase5 jumbo-phrase hideme">All the ends</span></h3>
        <div class="row mx-auto d-flex justify-content-center pt-4 mt-4 hideme jumbo-arrow">
            <a class="smooth-scroll nav-link" href="#about"><%= image_tag("downarrowwhite.png", alt: "downarrow", width: "50px", height: "50px", class: "text-center jumbo-down") %></a>
        </div>
    </div>
</div>

<div class="about-section section w-100 my-4 py-4">
    <div class="container-fluid about" id="about">
        <div class="row m-0">
            <div class="col-12 d-none d-block col-md-2">
                <div class="left-icons icons-div d-none d-md-flex flex-column justify-content-around hidden-md-down">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/angular-icon.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/bootstrap.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/firebase.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/sqlite.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/grunt.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/heroku.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/ionic.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/github-icon.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="heading-div mx-auto d-flex justify-content-center mb-4">
                    <h2 class="display-3 text-center mx-auto section-header">About</h2>
                </div>
                <div class="row mx-auto">
                    <div class="text-center col-lg-12">
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/Portfolio_Picture.png", alt: "logo", height: '100%', width: '40%', class: "portfolio-pic") %>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col-lg-12 mx-auto">
                        <div class="text-justify">
                            <h5 class="about-me py-4 mx-4">Hello there! If you are wondering who Michael Lindstrom is, well here's a face for the name. I am a recent graduate from the Nashville Software School, an intensive, full-stack, 6-month development bootcamp. I have always been passionate about practical solutions to everyday problems, and software development has given me an outlet to solve such problems.</h5>
                            <h4 class="text-center pt-4">Check out some of my work below.</h4>
                            <div class="row mx-auto d-flex justify-content-center">
                               <a class="smooth-scroll nav-link" href="#projects"><%= image_tag("downarrow.png", alt: "downarrow", width: "50px", height: "50px", class: "text-center") %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-block col-md-2">
                <div class="right-icons icons-div d-none d-md-flex flex-column justify-content-around hidden-md-down">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/javascript.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/jquery.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/lodash.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/rails.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/ruby.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/sass.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <%= image_tag("icons/surge.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <%= image_tag("https://blindedcyclops.neocities.org/p5js-icons/p5-sq-white-background.svg", height: "100%", width: "100%", class: "icon-svg")%>
                        </div>
                        <div class="col-12 col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="project-section section ml-0 mr-0 py-4">
    <div class="heading-div mx-auto d-flex justify-content-center">
        <h2 class="display-3 text-center mx-auto section-header">Projects</h2>
    </div>
    <div class="container-fluid projects mt-4 px-0" id="projects">
        <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title display-3 text-center mx-auto mb-4" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-around mx-auto container-fluid">
                        <div class="row">
                            <div class="modal-imgs-div d-flex flex-column col-lg-8 col-12">
                                <div class="modal-img-lg d-flex justify-content-around">
                                    
                                </div>
                                <div class="modal-tech-imgs">
                                    <h3 class="text-center mt-4">Technology</h3>
                                    <div class="tech-imgs d-flex justify-content-around"></div>
                                </div>
                            </div>
                            <div class="modal-about d-flex flex-column justify-content-between col-lg-4 col-12">
                                <div class="modal-development abouts">
                                    <h3>Development</h3>
                                    <p class="modal-p-development lead"></p>
                                    <h3 class="mt-4">Links</h3>
                                    <div class="live-links d-flex flex-column">
                                        <div class="github-links my-4">

                                        </div>
                                        <div class="site-links">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-md-6 mx-auto project-div" id="olympicapi">
                <div class="project-overlay d-flex justify-content-center align-items-center">
                    <h2 class="display-4 text-center text-white">Olympic API</h2>
                </div>
                <div class="card mx-auto olympic-api-card">
                    <%= image_tag('olympicapi.png', class: 'card-img-top', atl: 'Olympic API Image')%>
                </div>    
            </div>
            <div class="col-md-6 mx-auto project-div" id="mazerunner">
                <div class="project-overlay d-flex justify-content-center align-items-center">
                    <h2 class="display-4 text-center text-white">Maze Runner</h2>
                </div>
                <div class="card mx-auto maze-runner-card">
                    <%= image_tag('mazerunner.png', class: 'card-img-top', atl: 'Maze Runner Image')%>
                </div>
            </div>
            <div class="col-md-6 mx-auto project-div" id="brewsclues">
                <div class="project-overlay d-flex justify-content-center align-items-center">
                    <h2 class="display-4 text-center text-white">Brews Clues</h2>
                </div>
                <div class="card mx-auto brews-clues-card">
                    <div class="card-img-top d-flex justify-content-center">
                        <%= image_tag('brewsclues1.PNG', atl: 'Brues Clues Image', width: '32%', height: '31%', class: 'mr-4')%>
                        <%= image_tag('brewsclues2.PNG', atl: 'Brues Clues Image', width: '32%', height: '31%', class: 'ml-4')%>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row mx-auto d-flex justify-content-center mt-4">
        <a class="smooth-scroll nav-link" href="#contact"><%= image_tag("downarrow.png", alt: "downarrow", width: "50px", height: "50px", class: "text-center") %></a>
    </div>
</div>


<div class="contact-section section my-4 py-4 w-100 container-fluid mx-auto">
    <div class="heading-div mx-auto d-flex justify-content-center">
        <h2 class="display-3 text-center mx-auto section-header">Contact</h2>
    </div>
    <div class="container">
        <div class="contact-statemtent my-4 text-center">
            <div class="social-logos pt-2 pb-4">
                <%= link_to image_tag("emaillogo.png", alt: "email", height: '50px', width: '50px'), 'mailto:michaellindstr@gmail.com', class: 'navbar-brand' %>
                <%= link_to image_tag("githublogo.png", alt: "github", height: '50px', width: '50px', class: 'ml-1'), 'https://github.com/michaellindstromm', class: 'navbar-brand' %>
                <%= link_to image_tag("linkedinlogo.png", alt: "linkedin", height: '38px', width: '38px'), 'https://www.linkedin.com/in/michaelglindstrom', class: 'navbar-brand' %>
            </div>
            <h5>Contact me through one of the links above, or send me a message below.</h5>
        </div>
        <div id="contact">
            <%= render 'contact_form' %>
        </div>
    </div>
</div>