<div class="jumbotron jumbotron-fluid paral jumbotron1 d-flex align-items-center section">
    <div class="container jumbo-content">
        <h1 class="display-1 text-white text-center hideme" id="jumbo-name">Michael Lindstrom</h1>
        <hr class="mx-auto hideme" id="jumbo-horizontal">
        <h3 class="text-white text-center hideme" id="jumbo-phrase">Front-end | Back-end | All the ends</h3>
    </div>
</div>

<div class="about-section section w-100">
    <div class="pb-4 heading-div mx-auto d-flex justify-content-center">
        <h2 class="display-3 text-center">About</h2>
    </div>
    <div class="container-fluid about" id="about">
        <div class="row m-0">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="row mx-auto">
                    <div class="text-center col-lg-12">
                        <%= image_tag("https://s3.us-east-2.amazonaws.com/portfoliomichaellindstrom/Portfolio_Picture.png", alt: "logo", height: '100%', width: '60%', class: "portfolio-pic") %>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col-lg-12 mx-auto">
                        <div class="text-justify">
                            <p class="about-me py-4">Hello there! If you are wondering who Michael Lindstrom is, well here's a face for the name. I am a recent graduate from the Nashville Software School, an intensive, full-stack, 6-month development bootcamp. I have always been passionate about practical solutions to everyday problems, and software development has given me an outlet to solve such problems.</p>
                            <p class="text-center">Check out some of my work below.</p>
                            <div class="row mx-auto d-flex justify-content-center">
                               <a class="smooth-scroll nav-link" href="#projects"><%= image_tag("downarrow.png", alt: "downarrow", width: "50px", height: "50px", class: "text-center") %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="push-lg-3">
            </div>
        </div>
    </div>
</div>

<%# <div class="jumbotron jumbotron-fluid paral jumbotron2 d-flex align-items-center mb-0 section">
  <div class="container jumbo-content">
        <h3 class="text-white text-center mt-4 hideme" id="jumbo2-saying">"Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program."</h3>
        <hr class="mx-auto hideme" id="jumbo2-horizontal">
        <h4 class="text-white text-center hideme" id="jumbo2-quoter">- Linus Torvald</h4>
  </div>
</div> %>

<div class="project-section ml-0 mr-0 py-4 bg-dark">
    <div class="pb-4 heading-div mx-auto d-flex justify-content-center">
        <h2 class="display-3 text-center mx-auto text-white">Projects</h2>
    </div>
    <div class="container-fluid projects mt-4" id="projects">
        <div class="card" id="banagazon">
            <div class="row">
                <div class="col-lg-4 project-oppo bg-dark">
                
                </div>
                <div class="col-lg-8 push-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>Banagazon</h4>
                            <p>Stuff about our banagazon site.<p>
                            <a>Link to site</a> | 
                            <a>Link to repo</a>
                        </div>
                        <div class="col-lg-4">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" id="brews_clues">
            <div class="row">
                <div class="col-lg-8 pull-lg-4">
                    <div class="container">
                        <div class="row d-flex">
                            <div class="col-lg-8 flex-last">
                                <h4>Brews Clues</h4>
                                <p>Stuff about brews clues site.<p>
                                <a>Link to site</a> | 
                                <a>Link to repo</a>
                            </div>
                            <div class="col-lg-4 flex-first">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 project-oppo bg-dark">

                </div>
            </div>
        </div>


        <div class="card" id="flowground">
            <div class="row">
                <div class="col-lg-4 project-oppo bg-dark">
                
                </div>
                <div class="col-lg-8 push-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>Banagazon</h4>
                            <p>Stuff about our banagazon site.<p>
                            <a>Link to site</a> | 
                            <a>Link to repo</a>
                        </div>
                        <div class="col-lg-4">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" id="maze_runner">
            <div class="row">
                <div class="col-lg-8 pull-lg-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4>Brews Clues</h4>
                                <p>Stuff about brews clues site.<p>
                                <a>Link to site</a> | 
                                <a>Link to repo</a>
                            </div>
                            <div class="col-lg-4 flex-first">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 project-oppo bg-dark">

                </div>
            </div>
        </div>


        <div class="card" id="squeasy">
            <div class="row">
                <div class="col-lg-4 project-oppo bg-dark">
                
                </div>
                <div class="col-lg-8 push-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>Banagazon</h4>
                            <p>Stuff about our banagazon site.<p>
                            <a>Link to site</a> | 
                            <a>Link to repo</a>
                        </div>
                        <div class="col-lg-4">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="contact-section py-4">
    <div class="heading-div mx-auto d-flex justify-content-center">
        <h2 class="display-3 text-center mx-auto">Contact</h2>
    </div>
    <div class="container">
        <div class="contact-statemtent my-4 text-center">
            <div class="social-logos pt-2 pb-4">
                <%= link_to image_tag("emaillogo.png", alt: "github", height: '50px', width: '50px'), 'mailto:michaellindstr@gmail.com', class: 'navbar-brand' %>
                <%= link_to image_tag("githublogo.png", alt: "github", height: '50px', width: '50px'), 'https://github.com/michaellindstromm', class: 'navbar-brand' %>
                <%= link_to image_tag("linkedinlogo.png", alt: "github", height: '38px', width: '38px'), 'https://www.linkedin.com/in/michaelglindstrom', class: 'navbar-brand' %>
            </div>
            <h5>Contact me through one of the links above, or send me a message below.</h5>
        </div>
        <div id="contact">
            <%= render 'contact_form' %>
        </div>
    </div>
</div>