<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mb-0 stop-scrolling" data-spy="scroll" data-target="#navbar" data-offset="400" id="top">
      <%= render 'shared/header' %>
      <div class="test-holder-div d-flex align-items-center justify-content-center mx-auto">
          <%= image_tag("logo.png", alt: "logo", height: "100px", width: "100px", class: "test-holder-image") %>
      </div>
      <%= yield %>
  </body>
</html>
